.THIS .slds-form-element {
  display: flex;
}

.THIS .slds-form-element__label {
  padding-right: 0em;
}

.THIS .slds-page-header {
  width: auto;
}

.THIS .header-total-label {
  padding-top: 1em;
  font-size: 1.3em;
}

.THIS .header-year-label {
  font-size: 1.8em;
  color: rgb(0, 112, 210);
}

.THIS .header-explanation-label {
  font-size: 1.1em;
}

.THIS tr:hover td {
  background: #2a2b30;
  color: #ffffff;
}

.THIS tr:nth-child(odd) td {
  background: #ffffff;
}

.THIS tr:nth-child(even) td {
  background: #ebebeb;
}

.THIS tr:not(.account-row):hover td {
  background: #b6b7c7;
}

.THIS .slds-table--cell-buffer tr>td:first-child {
  padding-left: 0.7em;
}

.THIS .table-header {
  font-size: 1.1em;
  text-align: center;
  background-color: #7ebc27;
  color: #ffffff;
  font-family: Helvetica, Arial, sans-serif;
  -moz-box-shadow: inset 0px 1px 0px 0px #a4e271;
  -webkit-box-shadow: inset 0px 1px 0px 0px #a4e271;
  box-shadow: inset 0px 1px 0px 0px #a4e271;
  background: -webkit-gradient(linear,
      left top,
      left bottom,
      color-stop(0.05, #89c403),
      color-stop(1, #77a809));
  background: -moz-linear-gradient(top, #89c403 5%, #77a809 100%);
  background: -webkit-linear-gradient(top, #89c403 5%, #77a809 100%);
  background: -o-linear-gradient(top, #89c403 5%, #77a809 100%);
  background: -ms-linear-gradient(top, #89c403 5%, #77a809 100%);
  background: linear-gradient(to bottom, #89c403 5%, #77a809 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c403', endColorstr='#77a809', GradientType=0);
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0px 1px 0px #528009;
}

.THIS .table-monthly-totals-header {
  font-size: 1em;
  background-color: #000000;
  color: #ffffff;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  font-weight: normal;
}

.THIS .header-title {
  font-size: 1.8em;
  color: #595d5a;
  font-weight: bold;
  text-shadow: 1px 1px 0px #e2e2e2;
}

.THIS .header-box {
  margin: 1em;
}

.THIS .profit-centre-label {
  padding-top: 15px;
  vertical-align: middle;
  text-decoration: underline;
}

.THIS table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  background-color: #ebebeb;
  border-color: rgb(210, 209, 209);
  overflow: visible;
}

.THIS .profit-centre-label a {
  font-size: 1.2em;
  color: #67a018;
  font-weight: bold;
}

.THIS tr:hover a {
  color: #b1ffa0;
}

.THIS .tooltip-header {
  text-align: center;
  font-weight: bold;
}

.THIS .account-label {
  margin-top: 2.8em;
  margin-left: 1.5em;
  margin-right: 1.5em;
}

.THIS .account-label a {
  font-size: 1.1em;
  color: #848484;
  font-weight: bold;
  padding-left: 1.5em;
}

.THIS tr.account-row:nth-child(odd) td {
  width: 50%;
  background: #fcfbfd;
}

.THIS tr.account-row:hover td {
  background: #b6b7c7;
  color: #ffffff;
}

.THIS tr.account-row:hover a {
  color: #ffffff;
}

.THIS .table-row {
  vertical-align: middle;
  padding-top: 1em;
}

.THIS .table-row-account {
  vertical-align: bottom;
  padding-top: 1em;
}

.THIS .calculated-amount {
  color: rgb(194, 12, 103);
  font-size: 12px;
}

.THIS .slds-input {
  padding: 0 0.3em 0 0.3em;
  height: 1.8em;
  min-height: 1.8em;
}

.THIS .opportunity-value-label {
  color: rgb(194, 12, 103);
  font-size: x-small;
  display: inline-block;
  width: -webkit-fill-available;
  text-align: end;
  padding-bottom: 0.8em;
}

.THIS .opportunity-monthly-subtotals {
  color: rgb(0, 0, 0);
  display: table-cell;
  line-height: 1.5em;
  font-size: 12px;
}

.THIS .opportunity-subtotals {
  font-size: 12px;
  color: #3c3742;
}

.THIS .opportunity-total-label-sum {
  font-size: small;
  vertical-align: middle;
}

.THIS tr:hover .opportunity-value-label,
.THIS tr:hover .opportunity-monthly-subtotals,
.THIS tr:hover .opportunity-subtotals {
  color: rgb(255, 255, 255);
  font-size: 12px;
}

/*.THIS tr:hover .forecast-value {
  color: #e08bb6
}*/

.THIS .forecast-value-label {
  font-size: 12px;
  text-align: end;
}

.THIS .slds-button.forecast-value {
  font-weight: 600;
  font-size: small;
  color: #e00070;
  line-height: 1em;
  padding-bottom: 3px;
}

.THIS .object-tag {
  font-size: xx-small;
  position: absolute;
  top: 0;
  left: 0;
  color: #2e2e2e;
  padding-top: 2px;
  padding-left: 5px;
}

.THIS .account-total {
  text-align: -webkit-center;
}

.THIS .explanation-text {
  text-align: -webkit-left;
  padding-top: 1em;
  line-height: 1.5em;
  font-size: small;
}

.THIS .explanation-sub-line {
  text-indent: 1em;
}

.THIS .tooltip {
  display: block;
  position: relative;
  text-align: left;
  line-height: 1.5em;
}

.THIS .tooltip .tooltiptext {
  min-width: 200px;
  top: -20px;
  left: 50%;
  transform: translate(-50%, -100%);
  padding: 10px 20px;
  color: #444444;
  background-color: #eeeeee;
  font-weight: normal;
  font-size: 13px;
  border-radius: 8px;
  position: absolute;
  z-index: 99999999;
  box-sizing: border-box;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
  display: none;
  line-height: 1.5em;
}

.THIS .tooltip:hover .tooltiptext {
  display: block;
}

.THIS .tooltip .tooltiptext i {
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -12px;
  width: 24px;
  height: 12px;
  overflow: hidden;
}

.THIS .tooltip .tooltiptext i::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: #eeeeee;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
}

.THIS .select-year-image {
  padding-bottom: 6px;
}